body {
  margin: 0px;
  padding: 0px;
  background-color: #808080;
  font-family: sans-serif;
  text-align: justify;
}

body > div {
  padding:10px
}

body > div > div {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin: 0 auto;
  width:800px
}