body {
  margin: 0px;
  padding: 5px;
  background-color: #808080;
  font-family: sans-serif;
  text-align: justify;
}

body > div {
  margin: 0 auto;
  width:800px;
  border: 1px solid black;
  padding:0px;
  background-color: #FFFFFF
}

body > div > div {
  padding: 20px;
}